@charset "UTF-8";

body {
    padding: 0%;
    margin: 0px;
    background: url(../imagens/fundos/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 90vh;
    position: relative;
}

section#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/fundos/frame-iphone.png) no-repeat;
    height: 627px;
    width: 311px;
    margin: auto;
}

section#nav {
    text-align: right;
}

a > img {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

a > img:hover {
    height: 80px;
    width: 80px;
    transition: 0.5s;
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transform: translate(-10px, -10px);
}

iframe#tela {
    position: relative;
    top: 79px;
    left: 20px;
    width: 269px;
    height: 471px;
}