@charset "UTF-8";

body {
    padding: 0%;
    margin: 0px;
    background: url(../imagens/fundos/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 90vh;
    position: relative;
}

section#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/fundos/frame-iphone.png) no-repeat;
    height: 627px;
    width: 311px;
    margin: auto;
}

section#nav {
    width: 60px;
    margin-left: 92vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    list-style: none;
}

ul > li > a > img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

ul > li {
    margin-bottom: 10px;
}

iframe {
    height: 500px;
    width: 300px;
}